In [1]:
import pandas as pd
import numpy as np

# Define the headers since the data does not have any
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

# Read in the CSV file and convert "?" to NaN
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data",
                  header=None, names=headers, na_values="?" )
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [2]:
df.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [3]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi

In [4]:
obj_df[obj_df.isnull().any(axis=1)]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
27,dodge,gas,turbo,NaN,sedan,fwd,front,ohc,four,mpfi
63,mazda,diesel,std,NaN,sedan,fwd,front,ohc,four,idi

In [5]:
obj_df["num_doors"].value_counts()

four    114
two      89
Name: num_doors, dtype: int64

In [6]:
obj_df = obj_df.fillna({"num_doors": "four"})

#### Approach #1 - Find and Replace

In [7]:
obj_df["num_cylinders"].value_counts()

four      159
six        24
five       11
eight       5
two         4
twelve      1
three       1
Name: num_cylinders, dtype: int64

In [8]:
cleanup_nums = {"num_doors":     {"four": 4, "two": 2},
                "num_cylinders": {"four": 4, "six": 6, "five": 5, "eight": 8,
                                  "two": 2, "twelve": 12, "three":3 }}

In [9]:
obj_df = obj_df.replace(cleanup_nums)
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi
3,audi,gas,std,4,sedan,fwd,front,ohc,4,mpfi
4,audi,gas,std,4,sedan,4wd,front,ohc,5,mpfi

In [10]:
obj_df.dtypes

make               object
fuel_type          object
aspiration         object
num_doors           int64
body_style         object
drive_wheels       object
engine_location    object
engine_type        object
num_cylinders       int64
fuel_system        object
dtype: object

#### Approach #2 - Label Encoding

In [11]:
obj_df["body_style"] = obj_df["body_style"].astype('category')
obj_df.dtypes

make                 object
fuel_type            object
aspiration           object
num_doors             int64
body_style         category
drive_wheels         object
engine_location      object
engine_type          object
num_cylinders         int64
fuel_system          object
dtype: object

In [19]:
obj_df["body_style_cat"] = obj_df["body_style"].cat.codes
obj_df.head(50)

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi,0
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi,0
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi,2
3,audi,gas,std,4,sedan,fwd,front,ohc,4,mpfi,3
4,audi,gas,std,4,sedan,4wd,front,ohc,5,mpfi,3
5,audi,gas,std,2,sedan,fwd,front,ohc,5,mpfi,3
6,audi,gas,std,4,sedan,fwd,front,ohc,5,mpfi,3
7,audi,gas,std,4,wagon,fwd,front,ohc,5,mpfi,4
8,audi,gas,turbo,4,sedan,fwd,front,ohc,5,mpfi,3
9,audi,gas,turbo,2,hatchback,4wd,front,ohc,5,mpfi,2
10,bmw,gas,std,2,sedan,rwd,front,ohc,4,mpfi,3
11,bmw,gas,std,4,sedan,rwd,front,ohc,4,mpfi,3
12,bmw,gas,std,2,sedan,rwd,front,ohc,6,mpfi,3
13,bmw,gas,std,4,sedan,rwd,front,ohc,6,mpfi,3
14,bmw,gas,std,4,sedan,rwd,front,ohc,6,mpfi,3
15,bmw,gas,std,4,sedan,rwd,front,ohc,6,mpfi,3
16,bmw,gas,std,2,sedan,rwd,front,ohc,6,mpfi,3
17,bmw,gas,std,4,sedan,rwd,front,ohc,6,mpfi,3
18,chevrolet,gas,std,2,hatchback,fwd,front,l,3,2bbl,2
19,chevrolet,gas,std,2,hatchback,fwd,front,ohc,4,2bbl,2
20,chevrolet,gas,std,4,sedan,fwd,front,ohc,4,2bbl,3
21,dodge,gas,std,2,hatchback,fwd,front,ohc,4,2bbl,2
22,dodge,gas,std,2,hatchback,fwd,front,ohc,4,2bbl,2
23,dodge,gas,turbo,2,hatchback,fwd,front,ohc,4,mpfi,2
24,dodge,gas,std,4,hatchback,fwd,front,ohc,4,2bbl,2
25,dodge,gas,std,4,sedan,fwd,front,ohc,4,2bbl,3
26,dodge,gas,std,4,sedan,fwd,front,ohc,4,2bbl,3
27,dodge,gas,turbo,4,sedan,fwd,front,ohc,4,mpfi,3
28,dodge,gas,std,4,wagon,fwd,front,ohc,4,2bbl,4
29,dodge,gas,turbo,2,hatchback,fwd,front,ohc,4,mfi,2
30,honda,gas,std,2,hatchback,fwd,front,ohc,4,1bbl,2
31,honda,gas,std,2,hatchback,fwd,front,ohc,4,1bbl,2
32,honda,gas,std,2,hatchback,fwd,front,ohc,4,1bbl,2
33,honda,gas,std,2,hatchback,fwd,front,ohc,4,1bbl,2
34,honda,gas,std,2,hatchback,fwd,front,ohc,4,1bbl,2
35,honda,gas,std,4,sedan,fwd,front,ohc,4,1bbl,3
36,honda,gas,std,4,wagon,fwd,front,ohc,4,1bbl,4
37,honda,gas,std,2,hatchback,fwd,front,ohc,4,1bbl,2
38,honda,gas,std,2,hatchback,fwd,front,ohc,4,1bbl,2
39,honda,gas,std,4,sedan,fwd,front,ohc,4,1bbl,3
40,honda,gas,std,4,sedan,fwd,front,ohc,4,1bbl,3
41,honda,gas,std,4,sedan,fwd,front,ohc,4,mpfi,3
42,honda,gas,std,2,sedan,fwd,front,ohc,4,2bbl,3
43,isuzu,gas,std,4,sedan,rwd,front,ohc,4,2bbl,3
44,isuzu,gas,std,2,sedan,fwd,front,ohc,4,2bbl,3
45,isuzu,gas,std,4,sedan,fwd,front,ohc,4,2bbl,3
46,isuzu,gas,std,2,hatchback,rwd,front,ohc,4,spfi,2
47,jaguar,gas,std,4,sedan,rwd,front,dohc,6,mpfi,3
48,jaguar,gas,std,4,sedan,rwd,front,dohc,6,mpfi,3
49,jaguar,gas,std,2,sedan,rwd,front,ohcv,12,mpfi,3

#### Approach #3 - One Hot Encoding

In [13]:
pd.get_dummies(obj_df, columns=["drive_wheels"]).head()

,make,fuel_type,aspiration,num_doors,body_style,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd
0,alfa-romero,gas,std,2,convertible,front,dohc,4,mpfi,0,0,0,1
1,alfa-romero,gas,std,2,convertible,front,dohc,4,mpfi,0,0,0,1
2,alfa-romero,gas,std,2,hatchback,front,ohcv,6,mpfi,2,0,0,1
3,audi,gas,std,4,sedan,front,ohc,4,mpfi,3,0,1,0
4,audi,gas,std,4,sedan,front,ohc,5,mpfi,3,1,0,0

In [14]:
pd.get_dummies(obj_df, columns=["body_style", "drive_wheels"], prefix=["body", "drive"]).head()

,make,fuel_type,aspiration,num_doors,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat,body_convertible,body_hardtop,body_hatchback,body_sedan,body_wagon,drive_4wd,drive_fwd,drive_rwd
0,alfa-romero,gas,std,2,front,dohc,4,mpfi,0,1,0,0,0,0,0,0,1
1,alfa-romero,gas,std,2,front,dohc,4,mpfi,0,1,0,0,0,0,0,0,1
2,alfa-romero,gas,std,2,front,ohcv,6,mpfi,2,0,0,1,0,0,0,0,1
3,audi,gas,std,4,front,ohc,4,mpfi,3,0,0,0,1,0,0,1,0
4,audi,gas,std,4,front,ohc,5,mpfi,3,0,0,0,1,0,1,0,0

## Slide Code

pip install --upgrade category_encoders

In [15]:
import category_encoders as ce
import pandas as pd
train_df=pd.DataFrame({'Degree':['High school','Masters','Diploma','Bachelors','Bachelors','Masters','Phd','High school','High school']})

# create object of Ordinalencoding
encoder= ce.OrdinalEncoder(cols=['Degree'],return_df=True,
                           mapping=[{'col':'Degree',
'mapping':{'None':0,'High school':1,'Diploma':2,'Bachelors':3,'Masters':4,'phd':5}}])

#Original data
train_df

        Degree
0  High school
1      Masters
2      Diploma
3    Bachelors
4    Bachelors
5      Masters
6          Phd
7  High school
8  High school

In [16]:
#fit and transform train data 
df_train_transformed = encoder.fit_transform(train_df)

df_train_transformed

   Degree
0     1.0
1     4.0
2     2.0
3     3.0
4     3.0
5     4.0
6    -1.0
7     1.0
8     1.0

One hot

In [17]:
import category_encoders as ce
import pandas as pd
data=pd.DataFrame({'City':[
'Delhi','Mumbai','Hydrabad','Chennai','Bangalore','Delhi','Hydrabad','Bangalore','Delhi'
]})

#Create object for one-hot encoding
encoder=ce.OneHotEncoder(cols='City',handle_unknown='return_nan',return_df=True,use_cat_names=True)

#Original Data
data

        City
0      Delhi
1     Mumbai
2   Hydrabad
3    Chennai
4  Bangalore
5      Delhi
6   Hydrabad
7  Bangalore
8      Delhi

In [18]:
#Fit and transform Data
data_encoded = encoder.fit_transform(data)
data_encoded

   City_Delhi  City_Mumbai  City_Hydrabad  City_Chennai  City_Bangalore
0         1.0          0.0            0.0           0.0             0.0
1         0.0          1.0            0.0           0.0             0.0
2         0.0          0.0            1.0           0.0             0.0
3         0.0          0.0            0.0           1.0             0.0
4         0.0          0.0            0.0           0.0             1.0
5         1.0          0.0            0.0           0.0             0.0
6         0.0          0.0            1.0           0.0             0.0
7         0.0          0.0            0.0           0.0             1.0
8         1.0          0.0            0.0           0.0             0.0